@charset "UTF-8";
/*
################
               strana 1 
################
*/
 body {
                width: 210mm;
                height: 297mm;
                margin: 0;
                padding: 0;
                background-color:#FFF:;
alignment-adjust:center;
            }
			div.dod_header {
                width: 210mm;
                height: 32mm;
                margin: 0;
                padding: 0;
				}
			.grb {
				width: 11mm;
                height: 21mm;
                margin: 9mm 0 2mm 50mm;
                padding: 0;
				}
			.rs {
				width: 97mm;
                height: 5mm;
                margin: -12mm 0 0mm 15mm;
                padding: 0;
			}
			p_rs {
				width: 97mm;
                height: 5mm;
				margin: -1mm 0 0 0;
				font-family: "Times New Roman";
    			font-size: 18pt;
				text-height:5mm;
				word-spacing: 13px;
				letter-spacing: 6px;	
			}
			.obrazac {
				width: 19mm;
                height: 3mm;
                margin: -10mm 0 0mm 113mm;
                padding: 0;
				}
			p_obr {
				width: 19mm;
                height: 3mm;
                margin: 0;
                font-family: Arial;
    			font-size: 8pt;
				text-align: center;
			}
			div.dod_ustanova {
                width: 190mm;
                height: 25mm;
                margin: -9mm 9mm 0 9mm;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
				text-align: center;
  			}
			#logo_un {
				width:25mm;
				height: 25mm;
				margin: 0;
				alignment-adjust:middle;
			}
			div.naziv {
				width: 127mm;
				height: 25mm;
				margin: -25mm 0 0 25mm;
				background-color: #FFEBC8;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#naziv_un {
				width: 119mm;
                height: 10mm;
                margin: 2mm 4mm 0 4mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#p_naziv_un {
				width: 119mm;
                height: 10mm;
				margin: 0;
				padding: 0;
                font-family: Arial;
    			font-size: 12pt;
				text-align: center;
				line-height:normal;
				word-wrap:break-word;
			}
			p_sed_un {
				width: 119mm;
                height: 10mm;
				margin: 0;
				padding: 0;
                font-family: Arial;
    			font-size: 9pt;
				text-align: center;
				line-height:normal;
			}
			#naziv_fu {
				width: 119mm;
                height: 10mm;
                margin: 1mm 4mm 2mm 4mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			p_naziv_fu {
				width: 119mm;
                height: 10mm;
				margin: 0;
				padding: 0;
                font-family: Arial;
    			font-size: 12pt;
				text-align: center;
				line-height:normal;
			}
			p_sed_fu {
				width: 119mm;
                height: 10mm;
				margin: 0;
				padding: 0;
                font-family: Arial;
    			font-size: 9pt;
				text-align: center;
				line-height:normal;
			}
			#logo_fu {
				width:37mm;
				height: 25mm;
				margin: -25mm 0 0 152mm;
				alignment-adjust:middle;
			}
			div.dod_naziv {
                width: 190mm;
                height: 41mm;
                margin: 0 9mm 0 9mm;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
  			}
			#p_dod {
				width: 87mm;
                height: 7mm;
				margin: 5mm 0 0 61mm;
				font-family: "Times New Roman";
    			font-size: 18pt;
				text-height:7mm;
				color:#7A363A
				}
			#p_dod1 {
				margin: 0 0 0 71mm;
				font-family: "Arial";
    			font-size: 12pt;
				}
			#p_dod2 {
				margin: 2mm 0 0 47mm;
				font-family: "Arial";
    			font-size: 12pt;
				}
			#broj {
				width: 33mm;
                height: 6mm;
                margin: -6mm 0 0 57mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#p_dod3 {
				margin: -5mm 0 0 92mm;
				font-family: "Arial";
    			font-size: 12pt;
			}
			#datum {
				width: 38mm;
                height: 6mm;
                margin: -6mm 0 0 108mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#p_dod4 {
				margin: -5mm 0 0 148mm;
				font-family: "Arial";
    			font-size: 12pt;
			}
			#p_dod5 {
				margin: 2mm 4mm 0 4mm;
				font-family: "Arial";
    			font-size: 9.8pt;
				text-indent: 40px;
				text-align:justify;
				te
			}
			div.dod_podaci {
                width: 190mm;
                height: 189mm;
                margin: 0 9mm 0 9mm;
				background-color: #FFEBC8;
                padding: 0;

  			}
			#podaci_1 {
				width: 95mm;
                height: 189mm;
                margin: 0;
				background-color: #FFEBC8;
                padding: 0;
			}
			#podaci_student {
				width: 95mm;
                height: 64mm;
                margin: 0;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#p_podaci1 {
				margin: 1mm 0 0 2mm;
				font-family: "Arial";
    			font-size: 12pt;
			}
			#p_podaci2 {
				margin: 1mm 0 0 4mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#p_podaci3 {
				margin: 0 0 0 10mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#p_jmbg {
				margin: -5mm 0 0 58mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#ime {
				width: 90mm;
                height: 6.5mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#prezime {
				width: 90mm;
                height: 6.5mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#datum_rodjenja {
				width: 90mm;
                height: 6.5mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#broj_indeksa {
				width: 36mm;
                height: 6.5mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#jmbg {
				width: 46mm;
                height: 6.5mm;
                margin: -7mm 0 0 46mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_diploma {
				width: 95mm;
                height: 84mm;
                margin: 0;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#strucni_naziv {
				width: 90mm;
                height: 9mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#oblast {
				width: 90mm;
                height: 6.5mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#naziv_ustanove {
				width: 90mm;
                height: 12mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#naziv_ustanove2 {
				width: 90mm;
                height: 6.5mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#jezik {
				width: 90mm;
                height: 6.5mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_vrsta_studija {
				width: 95mm;
                height: 39mm;
                margin: 0;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#vrsta_studija {
				width: 90mm;
                height: 6mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#duzina_studija {
				width: 90mm;
                height: 15mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_2 {
				width: 95mm;
				height: 189mm;
				margin: -189mm 0 0 95mm;
				background-color: #FFEBC8;
				padding: 0;
				
			}
			#podaci_uslovi_upisa {
				width: 95mm;
                height: 23mm;
                margin: 0;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#uslovi_upisa {
				width: 90mm;
                height: 16mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_naziv {
				width: 95mm;
                height: 164.5mm;
                margin: 0;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#nacin_studiranja {
				width: 90mm;
                height: 6.5mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#naziv_ciljevi {
				width: 90mm;
                height: 73mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#tabela_ocene {
                width: 77mm;
                height: 40mm;
                margin: 0 9mm 0 9mm;
                padding: 0;
				border-style: solid;
				border-width: 0.5px;
				border-color: black;
			}
			#p_tabela {
				margin: 0;
				font-family: "Arial";
    			font-size: 9pt;
				text-align:center;
			}
			#prosecna_ocena {
				width: 90mm;
                height: 6.5mm;
                margin: 0 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
/*
################
               strana 2 
################
*/
			div.ocene {
                width: 204mm;
                height: 285mm;
                margin: 9mm 3mm 3mm 3mm;
				background-color: #FFF;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
  			}
			#ocene_naslov {
				width: 204mm;
                height: 8mm;
                margin: 0;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#ocene {
				width: 204mm;
                height: 277mm;
                margin: 0;
				background-color: #FFF ;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
/*
################
               strana 3 
################
*/
			div.strana_3 {
				width: 190mm;
                height: 277mm;
                margin: 10mm 10mm 10mm 10mm;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_5 {
				width: 95mm;
				height: 62.5mm;
				margin: 0;
				background-color: #FFEBC8;
				padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_6 {
				width: 95mm;
				height: 62.5mm;
				margin: -63mm 0 0 95mm;
				background-color: #FFEBC8;
				padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#dalje_studije {
				width: 90mm;
                height: 7.5mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#prof_status {
				width: 90mm;
                height: 32mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#dodatne_info {
				width: 90mm;
                height: 32mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#izvor {
				width: 90mm;
                height: 7.5mm;
                margin: 1mm 0 0 3mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_7 {
				width: 190mm;
				height: 84mm;
				margin: 0;
				background-color: #FFEBC8;
				padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#p_7_1_broj {
				margin: 5mm 0 0 19mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#p_7_1_datum {
				margin: -4mm 0 0 78mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#broj_overa {
				width: 47mm;
                height: 9mm;
                margin: 1mm 0 0 19mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#datum_overa {
				width: 67mm;
                height: 9mm;
                margin: -9.5mm 0 0 72mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#p_7_2_dekan {
				margin: 3mm 0 0 14mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#p_7_2_rektor {
				margin: -4mm 0 0 115mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#dekan {
				width: 78mm;
                height: 9mm;
                margin: 1mm 0 0 14mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#rektor {
				width: 76mm;
                height: 9mm;
                margin: -9.5mm 0 0 110mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#p_7_3_1 {
				margin: 3mm 0 0 14mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#p_7_3_2 {
				margin: -4mm 0 0 110mm;
				font-family: "Arial";
    			font-size: 10pt;
			}
			#circle {
    			margin: 1mm 0 0 6.5mm;
    			background: #FFF;
   				width: 33mm;
    			height: 33mm;
   				border-radius: 50%;
    			border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#potpis_dekan {
				width: 49mm;
                height: 9mm;
                margin: -21.5mm 0 0 42mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#circle_2 {
    			margin: -21.5mm 0 0 102mm;
    			background: #FFF;
   				width: 33mm;
    			height: 33mm;
   				border-radius: 50%;
    			border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#potpis_rektor {
				width: 49mm;
                height: 9mm;
                margin: -21.5mm 0 0 138mm;
				background:#FFF;
                font-family: Arial;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#podaci_8 {
				width: 190mm;
				height: 130mm;
				margin: 0;
				background-color: #FFEBC8;
				padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#dijagram {
				width: 173mm;
				height: 116mm;
				margin: 2mm 0 0 13mm;
			}
/*
################
               strana 4 
################
*/
			div.strana_4 {
				width: 210mm;
                height: 297mm;
                margin: 0;
                padding: 0;
			}
			div.kolona_1 {
				width: 96mm;
                height: 272mm;
                margin: 9mm 0 9mm 9mm;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			h1 {
				margin: 3mm 0 0 9mm;
				font-family: "Arial";
    			font-size: 7pt;
				font-weight:bold;
				text-align:left;
			}
			p {
				margin: 0 2mm 0 2mm;
				font-family: "Arial";
    			font-size: 7pt;
				text-align: justify;
				line-height: 1.1;
			}
			p_1 {
				display: block;
    			margin-top: 0mm;
    			margin-bottom: 0;
   				margin-left: 0;
    			margin-right: 2mm;
				font-family: "Arial";
    			font-size: 7pt;
				text-align: justify;
				line-height: 1.1;
			}
			ul {
    			list-style-type: square;
				margin:0;
				padding-left: 30px;
			}
			p_2 {
				display: block;
    			margin-top: 2mm;
    			margin-bottom: 0;
   				margin-left: 0;
    			margin-right: 2mm;
				font-family: "Arial";
    			font-size: 7pt;
				text-align: justify;
			}
			p_3 {
				width: 35mm;
                height: 6mm;
				display: block;
    			margin-top: 1mm;
    			margin-bottom: 0;
   				margin-left: 10mm;
    			margin-right: 2mm;
				font-family: "Arial";
    			font-size: 5pt;
				text-align: left;
			}
			div.kolona_2 {
				width: 96mm;
                height: 272mm;
                margin: -281.5mm 0 0 105mm;
				background-color: #FFEBC8;
                padding: 0;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			#pravilnik {
				width: 75mm;
                height: 5mm;
                margin: -6.5mm 2mm 0 125mm;
				background:#FFF;
                font-family: Arial;
				font-size:5.5pt;
				border-style: solid;
				border-width: 1px;
				border-color: black;
			}
			
			
